* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem 'Roboto', sans-serif;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

}

.css-selector {
    background: linear-gradient(270deg, #dbf8ff, #2db0d1);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

button {
    cursor: pointer;
    border: 0;
}

button:focus {
    outline: none;
    border: solid 2px #fff;
}

.img-perfil {
    width: 90%;
    height: 100px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil img {
    width: 120px;
    height: 120px;
    
    border-radius: 50%;

}

.social-icons {
    width: 90%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.social-icons ul {
    list-style: none;

}

.social-icons ul li {
    display: inline-block;
    margin: 5px;
}

.social-icons ul li img {
    width: 35px;
    height: 35px;
}

.social-links {
    width: 80%;
    height: auto;
}

.social-links ul {
    list-style: none;
}

.social-links ul li {
    margin-bottom: 10px;
}

.social-links ul li button {
    width: 100%;
    height: 58px;

    border-radius: 8px;

    background: #ccecf4;
    color: black;
    font-size: 1.5rem;
    
    transition: baclground .3s;

    border: 1.5px solid #b4c4cc;
}

.social-links ul li button:hover {
    background-color: #b4c4cc;
}
